<h1>Seja bem vindo ao Formulario de cria ativo</h1>
<div>
    <label for="Apelido/Nome/sobrenome">Nome de usuário:</label>
    <input type="text" id="nomeUsuario">
</div>
<div>
    <div></div><label for="data de nasciemnto">E-mail:</label>
    <input type="text" id="email" placeholder="exemplo@dominio.com">
</div>
<div>
    <div></div><label for="data de nasciemnto">Data de nascimento</label>
    <input type="text" id="email">
</div>
<br>
<div>
    <label for="Senha">Senha:</label>
    <input type="password" id="senha" name="Senha123$" required>
</div>
<br>